## Client config
# API URL for the frontend to connect to the backend
NEXT_PUBLIC_API_URL=http://localhost:3001/api

## Backend config
NODE_ENV=development
PORT=3001
DATABASE_URL=postgres://user:password@localhost:5432/offrows
REDIS_URL=redis://localhost:6379

LOG_LEVEL=info

# AWS S3 Configuration (fill in with your actual credentials)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_BUCKET_NAME=your_bucket_name